.contact-page {
  max-width: 600px;
  margin: auto;
  padding: 120px 20px 200px;
}

.contact-page h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Radio boxes */
.radio-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

#emailField,
#phoneField {
  display: none;
  margin-top: 10px;
}

/* Submit */
button {
  padding: 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

/* FOOTER */
.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #eee;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  font-family: "Inter", sans-serif;

  gap: 24px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.footer-logo {
  height: 24px;
}
